*{
    background-color: beige;
}

body{
    display: flex;
    justify-content: center;
}

td{
    border: 1px solid black;
}

td{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: cornflowerblue;
}

img{
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.forma-h2{
    border: 3px solid cornflowerblue;
    background-color: beige;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.mostrarFondo{
    opacity: 100%;
}

.quitarFondo{
    opacity: 0%;
}

.fijo {
    opacity: 100%;
    pointer-events: none; /* Para que no se puedan volver a seleccionar */
}

.fondo{
    background-color: green;
}

.boton{
    border: 2px solid black;
    border-radius: 15px;
}

td:hover{
    cursor: pointer;
}

.sombra{
    border: 3px solid yellow;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: darkblue;
}

td:hover{
    border: 2px solid yellow;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: darkblue;
}