
:root {
    --gradiente-verde: to right, rgba(54, 224, 204, 1) 0%, rgba(0, 128, 0, 1) 100%;
    --gradiente-rojo: linear-gradient(331deg, rgba(186,115,16,1) 0%, rgba(13,5,5,1) 45%, rgba(0,0,0,1) 59%, rgba(224,96,54,1) 100%);
}

body {
    font-family: 'VT323', monospace;
    background-image: url(../IMG/fallout.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #7FFC51;
}

.tamanioLetras{
    font-size: 20px;
}



.titulos{
    font-family: 'Sixtyfour', sans-serif;
}

.navbar {
    justify-content: center;
}


.highlight {
    color: #7FFC51;
}

.btn-highlight {
    background-color: #1a1a1a;
    border: 1px solid #10e478;
    color: #ffffff;
    border-radius: 0px !important;
}

.btn-highlight:hover {
    background-color: #9CE3D0;
    border-color:  #DEF1D0;
}

.card {
    margin: 20px 10px;
    border: 1px solid #79B0A1;
    background-color: rgba(0, 26, 27, 0.8);
    color: #ffffff;
    padding: 45px 25px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 160px;
    border-radius:20px !important;
}

.fecha {
    margin: 10px 10px;
    border: 1px solid #79B0A1;
    background-color: rgba(0, 26, 27, 0.8);
    color: #ffffff;
    padding: 20px 20px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    border-radius:20px !important;
}

.formulario-bg {
    margin: 20px 10px;
    border: 1px solid #79B0A1;
    background-color: rgba(0, 26, 27, 0.5);
    color: #ffffff;
    padding: 45px 0px !important;
    width: 700px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:20px !important;
}

@keyframes flote1 {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes flote2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}


.animacion1{
    animation: flote1 2s infinite ease-in-out;
}

.animacion2{
    animation: flote2 2s infinite ease-in-out;
}


@keyframes calaveraAnimacion {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.calaveraAnimacionF {
    animation: calaveraAnimacion 2s infinite ease-in-out;
}

.div-Cartas{
    margin:0px 100px 0px 30px !important;
}

.form-control, .form-select {
    background-color: #1a1a1a;
    border: 1px solid #10e478;
    color: #ffffff;
    border-radius: 0px !important;
    font-size: 20px !important;
}

.form-control:focus, .form-select:focus {
    border-color: #E41034;
    box-shadow: 0 0 5px #E41034;
}

.fondo-Ocs{
    background-color: rgba(0, 26, 27, 0.8);
}

.margen-reservas{
    margin: 30px 0px 0px 130px;
}

.sombra-texto{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}


h2{
    font-family: 'Ruda', sans-serif;

}

h3{
    font-family: 'Ruda', sans-serif;
}

.legibilidad{
    background-color: rgba(0, 26, 27, 0.1);
    border-radius: 60px;
}

/*MODIFICO LAS TABLAS*/

.table-dark {
    background-color: rgba(0, 26, 27, 0.8) !important;
}

.custom-table {
    border-color: #9CE3D0;
    border-radius: 20px;
}

.custom-table th {
    background-color:rgba(0, 26, 27, 0.6);
    color: #9CE3D0;
}

.custom-table td {
    background-color: rgba(0, 26, 27, 0.8);
    color: white
}

@keyframes parpadeo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.parpadeoEfecto{
    animation: parpadeo 1s infinite;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.frase{
    font-size: 35px;
}

.oculto{
    background-color: rgba(0, 0, 0, 0) !important;
}

.grandesLetras{
    font-size: 60px !important;
}